:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D60, D10-12;
}

.root {
  -st-states: tiled, showBorder;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  background-color: value(D60);
  max-width: 100%;
  max-height: 100%;
  text-indent: 100vw; /* hide default border for broken images */
}

.root:tiled {
  background-repeat: repeat;
  object-position: -100vw;
  object-fit: none;
}

.root:showBorder {
  border: 1px solid value(D10-12);
  box-sizing: border-box;
}
