:import {
  -st-from: "../Foundation/stylable/typography.st.css";
  -st-named: text-medium-bold;
}

:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D10;
}

.root {
  -st-states: size(enum(tiny, small, medium, large)), alignItems(enum(center, stretch)), badge, hiddenBadge, inverted, withActions, withImageBackground;
  padding: 30px;
}

.root:size(tiny) {
  padding: 18px 30px;
}
:global([dir="rtl"]) .root:size(tiny) {
  padding: 18px 30px;
}

.root:size(small) {
  padding-left: 48px;
}
:global([dir="rtl"]) .root:size(small) {
  padding-left: 30px;
  padding-right: 48px;
}

.root:size(medium) {
  padding-left: 48px;
}
:global([dir="rtl"]) .root:size(medium) {
  padding-left: 30px;
  padding-right: 48px;
}

.root:size(large) {
  padding-left: 60px;
}
:global([dir="rtl"]) .root:size(large) {
  padding-left: 30px;
  padding-right: 60px;
}

.root:badge,
.root:hiddenBadge {
  position: relative;
  padding-top: 36px;
  padding-bottom: 36px;
}

.root:inverted {
  padding-left: 30px;
}
:global([dir="rtl"]) .root:inverted {
  padding-right: 30px;
}

.contentContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.root:inverted:withImageBackground .contentContainer {
  padding-left: 30px;
}
:global([dir="rtl"]) .root:inverted:withImageBackground .contentContainer {
  padding-left: 0;
  padding-right: 30px;
}
.root:alignItems(stretch) .contentContainer {
  justify-content: space-between;
}

.title {
  padding-bottom: 18px;
}

.root:size(tiny) .title {
  padding-bottom: 12px;

  -st-mixin: text-medium-bold;

  font-size: 20px;
  color: value(D10);
}

.root:size(small) .title {
  padding-bottom: 12px;
}

.root:withActions .description {
  padding-bottom: 36px;
}

.root:size(tiny):withActions .description {
  padding-bottom: 18px;
}

.root:size(small):withActions .description {
  padding-bottom: 24px;
}

.badge {
  position: absolute;
  top: 9px;
  left: -3px;
}

:global(.rtl) .badge ,
:global([dir='rtl']) .root:inverted .badge {
  right: -3px;
  left: auto;
}

.imageWrapper {
  position: relative;
  height: 100%;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.imagePlaceholder {
  background-color: transparent;
  height: 100%;
}

.imageBackground {
  position: absolute;
  left: -30px;
  top: -30px;
  width: calc(100% + 60px);
  height: calc(100% + 60px);
}
