:import {
  -st-from: "../Popover/Popover.st.css";
  -st-default: Popover;
}

:import {
  -st-from: "../Calendar/Calendar.st.css";
  -st-default: Calendar;
}

:import {
  -st-from: "../Input/Input.st.css";
  -st-default: Input;
}

.root {
  -st-states: disableKeyboardType;
}

.popover {
  -st-extends: Popover;
  display: block;
}

.input {
  -st-extends: Input;
}

.inputContainer {
  width: 100%;
  cursor: text;
}

.root:disableKeyboardType .inputContainer, .root:disableKeyboardType .input::input{
  cursor: pointer;
}

.calendar {
  -st-extends: Calendar;
}
