:import {
  -st-from: "../../../Badge/Badge.st.css";
  -st-default: Badge;
}

:import {
  -st-from: "../foundations/colors.st.css";
  -st-named: O10;
}

.root {
  -st-extends: Badge;
}

.root {
  border-radius: 2px;
  padding: 2px 8px 2px 8px;
}

.root:skin(urgent) {
  border-color: value(O10);
  background-color: value(O10);
}
