:import {
  -st-from: '../Card.st.css';
  -st-default: Card;
}

:import {
  -st-from: '../../NewCard/NewCard.st.css';
  -st-named: container;
}

.root {
  -st-extends: Card;

  max-width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.info {
  padding: 30px;
  flex-shrink: 1;
}

.media img {
  vertical-align: middle;
  height: auto;
}

.stacked,
.stacked .info,
.stacked .media {
  width: 400px;
}

.wrap .media img {
  width: 100%;
  height: auto;
}

.root.ratio .info {
  -st-mixin: container(
    Ratio 80
  );
}

.root.ratio .media {
  -st-mixin: container(
    Ratio 20
  );
}

.root.ratio2 .info {
  -st-mixin: container(
    Ratio 40
  );
}

.root.ratio2 .media {
  -st-mixin: container(
    Ratio 60
  );
}

.root.ratio .media img {
  height: 100% !important;
  object-fit: cover;
}
