:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: THEME-COLOR-50;
}

:import {
  -st-from: '../Foundation/stylable/shadows.st.css';
  -st-named: shadow30;
}

:import {
  -st-from: "./Pagination/Pagination.st.css";
  -st-default: Pagination;
}

:vars {
  horizontalSpacingSize: 50px;
  verticalSpacingSize: 7px;
}

.root {
  -st-states: controlsPosition(enum(sides, overlay, bottom, none)),
    controlsSize(enum(tiny, small, medium, large)),
    showControlsShadow;
}

.root:controlsSize(tiny) {
  --arrow-size: 24px
}

.root:controlsSize(small) {
  --arrow-size: 30px
}

.root:controlsSize(medium) {
  --arrow-size: 36px;
}

.root:controlsSize(large) {
  --arrow-size: 42px;
}

.root:showControlsShadow .controls {
  box-shadow: value(shadow30);
}

.root[data-is-loading='true'] {
  display: none;
}

.root :global(.slick-list) {
  min-height: var(--arrow-size);
  margin: auto;
}

.root :global(.slick-list .slick-track:not([style*="width"]) .slick-slide) {
  visibility: hidden;
}

.root :global(.slick-list .slick-track[style*="width"] .slick-slide) {
  visibility: visible;
}

.root:controlsPosition(sides) :global(.slick-list) {
  width: calc(100% - (2 * var(--arrow-size)) - value(horizontalSpacingSize));
}

.root:controlsPosition(sides) :global(.slick-arrow) {
  top: calc(50% - var(--arrow-size) + value(verticalSpacingSize));
  transform: none;
}

.root:controlsPosition(overlay) :global(.slick-arrow) {
  top: calc(50% - var(--arrow-size) + value(verticalSpacingSize));
  transform: none;
  margin: 0 12px;
  z-index: 1;
}

.root:controlsPosition(bottom) :global(.slick-arrow) {
  top: calc(100% - var(--arrow-size) / 2 - 2px);
  transform: none;
}

.root :global(.slick-arrow)::before {
  display: none;
}

.root :global(.slick-next) {
  right: calc(var(--arrow-size) / 2 - 2px);
}

.root :global(.slick-prev) {
  left: 0;
}

.imageContainer {
  display: flex;
  height: 100%;
}

.image {
  width: 100%;
}

.loader {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: value(THEME-COLOR-50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  -st-extends: Pagination;
}

.pageNavigation {
  color: transparent;
}
