:import {
  -st-from: "../../common/formatters.st";
  -st-named: color, font, fallback;
}

.root {
width: 100%;
}

.contentWrapper {
-st-states: visible;
background-color: white;

position:absolute;
bottom: -100%;

min-height: 60px;
max-height: 320px;
width: 100%;

transition: 0.3s ease;
transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940)
}

.contentWrapper:visible {
  bottom: 0;
}