:import {
    -st-from: "../AddItem.st.css";
    -st-default: AddItem;
}

.root {
    -st-mixin: AddItem(
            BorderColor '"color(--customBorderColor)"',
            BackgroundColor '"color(--customBackgroundColor)"',
            TextColor '"color(--customTextColor)"',
            TextFont '"--textFont"'
    );
}
