:import {
  -st-from: '../Foundation/stylable/shadows.st.css';
  -st-named: shadow40;
}

:import {
  -st-from: '../Foundation/stylable/colors.st.css';
  -st-named: D80;
}

.modalContent {
  box-shadow: value(shadow40);
  width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: value(D80);
}
