:import {
  -st-from: "../../../VerticalTabsItem/VerticalTabsItem.st.css";
  -st-default: VerticalTabsItem;
}

:import {
  -st-from: '../foundations/colors.st.css';
  -st-named: D80, B50;
}

.root {
  -st-extends: VerticalTabsItem;
  position: relative;
  padding: 0 0 0 16px;
  overflow: hidden;
  background-color: value(D80);
}

.root::prefixIcon {
  padding: 0;
  margin: 16px 12px 16px 0;
}

.root::text {
  padding: 8px 36px 8px 0;
}

.root:not(:action):hover {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: value(B50);
}

.root:not(:action):hover::text::after {
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 36px);
    width: 0;
    height: 0;
    border-left: 16px solid value(B50);
    border-top: 36px solid value(D80);
    border-bottom: 36px solid value(D80);
}
