:import {
  -st-from: '../../Foundation/stylable/colors.st.css';
  -st-named: B60, D80;
}

:vars {
  tinyVerticalPadding: 12px;
  smallVerticalPadding: 15px;
  newMediumVerticalPadding: 18px;
  mediumVerticalPadding: 24px;
}

.item {
  -st-states: reducedSpacingAndImprovedLayout, hovered, verticalPadding(enum(medium, small, tiny));
  display: grid;
  grid-template-columns: auto 1fr;
}

.item:hovered .selector,
.item:hovered .header {
  background-color: value(B60);
}

.item:last-child .divider {
  display: none;
}

.selector, .header {
  transition: background-color 0.3s;
}

.selector {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-left: 30px;
  padding-right: 18px;
}

.header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  padding-right: 30px;
  padding-left: 0;
}

.item:verticalPadding(medium) .header {
  padding-top: value(mediumVerticalPadding);
  padding-bottom: value(mediumVerticalPadding);
}

.item:verticalPadding(medium):reducedSpacingAndImprovedLayout .header {
  padding-top: value(newMediumVerticalPadding);
  padding-bottom: value(newMediumVerticalPadding);
}

.item:verticalPadding(small) .header {
  padding-top: value(smallVerticalPadding);
  padding-bottom: value(smallVerticalPadding);
}

.item:verticalPadding(tiny) .header {
  padding-top: value(tinyVerticalPadding);
  padding-bottom: value(tinyVerticalPadding);
}

.content {
  grid-column-start: 2;
  grid-column-end: 2;
}

.text {
  overflow: hidden;
}

.inner {
  padding: 0 30px 24px 0;
}

.item:reducedSpacingAndImprovedLayout .inner{
  padding: 0 30px 18px 0;
}
