:import {
  -st-from: "../../DropdownBase/DropdownBase.st.css";
  -st-default: DropdownBase;
}

:import {
  -st-from: "../../TextButton/TextButton.st.css";
  -st-default: TextButton;
}

.root {
}

.dropdown {
  -st-extends: DropdownBase;
}

.caption {
  -st-extends: TextButton;
}
