:import {
    -st-from: "../../common/formatters.st";
    -st-named: applyUnit, fallback;
}

:vars {
    /*Constance*/
    DefalutRatio: 50;
}

/*Overrides*/
:vars {
     /*  The ratio of a single card container */
    Ratio: --overridable;
}

.root {
    -st-states: stacked;
    display: inline-flex;
    flex-wrap: wrap;
}

.root:stacked {
    flex-direction: column;
}


.container {
    max-height: 100%;
    box-sizing: border-box;
    flex: fallback(value(Ratio), value(DefalutRatio));
}

.container img {
    max-width: 100%;
}
